@import "tailwindcss";


/* Chrome, Safari, Edge */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

/* IE and old Edge */
body {
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::selection {
    background: #0B1220;
    color: white;
}

*::-moz-selection {
    background: #0B1220;
    color: white;
}

/* For Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}