@import "tailwindcss";


/* Chrome, Safari, Edge */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

/* IE and old Edge */
body {
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::selection{
    background: #0B1220;
    color: white;
}

*::-moz-selection{
    background: #0B1220;
    color: white;
}